* {
    border:none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F6F1EF ;
    
}
.header{
    padding: 10px;
    position: fixed;
    top: 0;

}
h2{
    padding-top:110px ;
    width: 100%;
    display: block;
    align-items: center;
    text-align: center;
    
}
h3{
    display: block;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}
.map{
    display: block;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
button{
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    display: block;
    width: 120px;
    margin: 0 auto;
    padding:10px 0 ;
    color: #F6F1EF ;
    background-color: black;
    cursor: pointer;
    transition: all .3s linear;
    text-decoration: none;
}
 /* border-radius: 6px;



margin: auto;
display: flex;
width: 120px;
justify-content: center; */